*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK и AAB файлы (артефакты сборки)
*.apk
*.ap_
*.aab

# Keystore файлы
*.jks
*.keystore
*.p12

# Log files
*.log